.app__laurels_awards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
}
.app__laurels_awards-card{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    min-width: 230px;
    margin: 1rem;
}

.app__laurels_awards-card img{
    width: 70px;
    height: 70px;
}